<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="container" style="background-color:hsl(0, 0%, 100%);">Loan Application</h1>

<form action="" method="post">
    <!---
  <div class="imgcontainer">
    <img src="avatar.jpg" alt="Avatar" class="avatar">
  </div>
  --->

  <div class="container">
    <label for="address"><b>Description / Address of property</b></label>
    <input type="text" placeholder="Enter Description / Address of property" name="address" required>

    <label for="amount"><b>Loan Amount</b></label>
    <input type="text" placeholder="Enter Loan Amount" name="amount" required>

    <label for="tenure"><b>Tenure</b></label>
    <input type="text" placeholder="Enter Tenure" name="tenure" required>

    <label for="nms"><b>Net monthly salary</b></label>
    <input type="text" placeholder="Enter Net monthly salary" name="nms" required>
        
    <button type="submit">Submit Application</button>
    
  </div>

 
    <!-----
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
    --->
  
</form>

</body>
</html>
