<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="container" style="background-color:hsl(0, 0%, 100%);">Create an account</h1>

<form action="" method="post">
    <!---
  <div class="imgcontainer">
    <img src="avatar.jpg" alt="Avatar" class="avatar">
  </div>
  --->

  <div class="container">
    <label for="uname"><b>Set Username</b></label>
    <input type="text" placeholder="Enter Login ID" name="uname" required>

    <label for="psw"><b>Set Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
     
    <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Register</button>
    
  </div>

 
    <!-----
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
    --->
    <span class="user"><a href="index.html">Already have an account?</a></span>
  
</form>

</body>
</html>
